<%if user_signed_in? %>
                                                <li><%=  current_user.all_name %></li>
                                                <li class="divider-vertical"></li>
                                                <li class="dropdown">
                                                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag "profil.jpg", :class=>'img-circle' %><b class="caret"></b></a>
                                                  <ul class="dropdown-menu">
                                                      <li class="nav-header">Personnal</li>
                                                    <li><%= link_to "Modif my account",  edit_user_registration_path(current_user) %></li>
                                                    <li><%= link_to "Modif my profil",  edit_user_path(current_user) %></li>
                                                    
                                                      <li class="divider"></li>
                                                    <li><%= link_to "Sign out",  destroy_user_session_path %></li>
                                                  </ul>
                                                </li>
                                              <% else %>
                                                <li><a href="/sign_in">Sign in</a></li>
                                              <% end %>
